# Database
DATABASE_URL="postgresql://user:password@localhost:5432/nexysten_db"
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=nexysten_db
POSTGRES_PORT=5432

# Redis (opcional para futuro)
REDIS_PORT=6379

# Node
NODE_ENV=development
PORT=3000

# JWT (para implementar depois)
JWT_SECRET=sua-chave-secreta-muito-segura-aqui
JWT_EXPIRATION=24h
